doctype html
html.no-js
  include head.jade
  body.v-pale-blue
    // Copy/paste the header and download sections into index.html
    include header.jade
    include main.jade
    // End of header and download
    include scripts.jade