section#main
  .app-section.hidden(data-apps)
    p Verdict is the MMA platform for live scoring and sharing your fight predictions.
    .app-buttons
      button.appStore App Store
      button.googlePlay Google Play