section.v-download
  .v-button-wrapper
    a.v-store-btn.v-appStore(data-buttons style="background-size:contain;" href="https://itunes.apple.com/us/app/verdict-mma/id1080144151?mt=8") Download on the App Store
    a.v-store-btn.v-googlePlay(data-buttons style="background-size:contain;" href="https://play.google.com/store/apps/details?id=com.verdictmma.verdict&hl=en") Google Play