section#main
  .app-section(data-apps)
    p(data-intro) Verdict is the MMA platform for live scoring and sharing your fight predictions.
    .app-buttons
      button.appStore(data-intro) App Store
      button.googlePlay(data-intro) Google Play