body {
  background-color: #eee;
}

#header {
  height: 600px;
  overflow: hidden;
  background-color: #fdd;
}

.svg-position {
  position: relative;
  width: 2512px;
  height: 2055px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#verdict-module {
  position: relative;
  width: 2512px;
  height: 2055px;
}

#fallback {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  overflow: hidden;
}

#fallback {
  display: none;
}

.no-js #fallback {
  display: block;
}

.hidden {
  opacity: 0;
}

#joint, #forceBox {
  opacity: 0;
}

@media (max-width: 600px) {
  #header {
    height: 450px;
  }
}