// Custom css begins here

body {
  background-color: #F5F8FA;
}

.v-header {
  position: relative;;
  height: 600px;
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  margin: 0 auto;
}

.touch .v-header {
    height: 400px;
    max-width: 800px;
  }

.v-svg,
.v-fallback {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  overflow: hidden;
  .v-joint, .v-forceBox {opacity: 0;}
}

.v-fallback {
  width: auto;
  height: 100%;
}

.v-hidden {
  opacity: 0;
}

.v-download {
  width: 100%;
  padding: 30px 0px;
  .v-button-wrapper {
    text-align: center;
    padding: 30px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 314px;
    margin: 0 auto;
    .v-store-btn { 
      width: 152px;
      height: 45px;
      display: inline-block;
      text-indent: -9999px;
      text-align: center;
      opacity: 0;}
    .v-appStore {
      background: url(../images/appstore.svg) no-repeat;
      margin-right: 10px;}
    .v-googlePlay {
      background: url(../images/googleplay.png) no-repeat;}
  }
}


.no-js .v-button-wrapper .v-store-btn { opacity: 1; }

// Custom css ends here