#header {
  height: 600px;
  overflow: hidden;
}

#verdict-module {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}